<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089034239253-4npk8r1darbvaarh4s8u3q5r130r7tnd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089034239253-4npk8r1darbvaarh4s8u3q5r130r7tnd</string>
	<key>API_KEY</key>
	<string>AIzaSyCtKI8-DsU0Y3mtR3_RG2JaO7-3TXiWze8</string>
	<key>GCM_SENDER_ID</key>
	<string>1089034239253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.loay.Thunder-Store</string>
	<key>PROJECT_ID</key>
	<string>thunder-ee466</string>
	<key>STORAGE_BUCKET</key>
	<string>thunder-ee466.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089034239253:ios:7957021178a2f20200fd1c</string>
</dict>
</plist>
